In [1]:
import pandas as pd

In [2]:
# READING THE DATA AND CHECKING FOR ANY MISSING DATA

In [3]:
data = pd.read_csv('./Indian Liver Patient Dataset (ILPD).csv')
print(data.columns)
print()
print(data.head)
print()
print(data.info())

Index(['age', 'gender', 'tot_bilirubin', 'direct_bilirubin', 'tot_proteins',
       'albumin', 'ag_ratio', 'sgpt', 'sgot', 'alkphos', 'is_patient'],
      dtype='object')

<bound method NDFrame.head of      age  gender  tot_bilirubin  direct_bilirubin  tot_proteins  albumin  \
0     65  Female            0.7               0.1           187       16
1     62    Male           10.9               5.5           699       64
2     62    Male            7.3               4.1           490       60
3     58    Male            1.0               0.4           182       14
4     72    Male            3.9               2.0           195       27
..   ...     ...            ...               ...           ...      ...
578   60    Male            0.5               0.1           500       20
579   40    Male            0.6               0.1            98       35
580   52    Male            0.8               0.2           245       48
581   31    Male            1.3               0.5           184       29
582   38    Male            1.0               0.3           216       21

     ag_ratio  sgpt  sgot  alkphos  is_patient
0          18   6.8   3.3     0.90           1
1         100   7.5   3.2     0.74           1
2          68   7.0   3.3     0.89           1
3          20   6.8   3.4     1.00           1
4          59   7.3   2.4     0.40           1
..        ...   ...   ...      ...         ...
578        34   5.9   1.6     0.37           2
579        31   6.0   3.2     1.10           1
580        49   6.4   3.2     1.00           1
581        32   6.8   3.4     1.00           1
582        24   7.3   4.4     1.50           2

[583 rows x 11 columns]>

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               583 non-null    int64
 1   gender            583 non-null    object
 2   tot_bilirubin     583 non-null    float64
 3   direct_bilirubin  583 non-null    float64
 4   tot_proteins      583 non-null    int64
 5   albumin           583 non-null    int64
 6   ag_ratio          583 non-null    int64
 7   sgpt              583 non-null    float64
 8   sgot              583 non-null    float64
 9   alkphos           579 non-null    float64
 10  is_patient        583 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB
None

In [4]:
data.describe()

,age,tot_bilirubin,direct_bilirubin,tot_proteins,albumin,ag_ratio,sgpt,sgot,alkphos,is_patient
count,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,579.000000,583.000000
mean,44.746141,3.298799,1.486106,290.576329,80.713551,109.910806,6.483190,3.141852,0.947064,1.286449
std,16.189833,6.209522,2.808498,242.937989,182.620356,288.918529,1.085451,0.795519,0.319592,0.452490
min,4.000000,0.400000,0.100000,63.000000,10.000000,10.000000,2.700000,0.900000,0.300000,1.000000
25%,33.000000,0.800000,0.200000,175.500000,23.000000,25.000000,5.800000,2.600000,0.700000,1.000000
50%,45.000000,1.000000,0.300000,208.000000,35.000000,42.000000,6.600000,3.100000,0.930000,1.000000
75%,58.000000,2.600000,1.300000,298.000000,60.500000,87.000000,7.200000,3.800000,1.100000,2.000000
max,90.000000,75.000000,19.700000,2110.000000,2000.000000,4929.000000,9.600000,5.500000,2.800000,2.000000

In [5]:
# DATA CLEANING

In [6]:
print(data[data['alkphos'].isnull()])
data['alkphos'].fillna(data['alkphos'].mean(), inplace = True)

     age  gender  tot_bilirubin  direct_bilirubin  tot_proteins  albumin  \
209   45  Female            0.9               0.3           189       23
241   51    Male            0.8               0.2           230       24
253   35  Female            0.6               0.2           180       12
312   27    Male            1.3               0.6           106       25

     ag_ratio  sgpt  sgot  alkphos  is_patient
209        33   6.6   3.9      NaN           1
241        46   6.5   3.1      NaN           1
253        15   5.2   2.7      NaN           2
312        54   8.5   4.8      NaN           2

In [7]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               583 non-null    int64
 1   gender            583 non-null    object
 2   tot_bilirubin     583 non-null    float64
 3   direct_bilirubin  583 non-null    float64
 4   tot_proteins      583 non-null    int64
 5   albumin           583 non-null    int64
 6   ag_ratio          583 non-null    int64
 7   sgpt              583 non-null    float64
 8   sgot              583 non-null    float64
 9   alkphos           583 non-null    float64
 10  is_patient        583 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB
None

In [8]:
data['is_patient'] = data['is_patient'].replace(2, 0)
print(data.head())

   age  gender  tot_bilirubin  direct_bilirubin  tot_proteins  albumin  \
0   65  Female            0.7               0.1           187       16
1   62    Male           10.9               5.5           699       64
2   62    Male            7.3               4.1           490       60
3   58    Male            1.0               0.4           182       14
4   72    Male            3.9               2.0           195       27

   ag_ratio  sgpt  sgot  alkphos  is_patient
0        18   6.8   3.3     0.90           1
1       100   7.5   3.2     0.74           1
2        68   7.0   3.3     0.89           1
3        20   6.8   3.4     1.00           1
4        59   7.3   2.4     0.40           1

In [9]:
data['gender'] = data['gender'].replace({'Male': 1, 'Female': 0})
print(data.head())

   age  gender  tot_bilirubin  direct_bilirubin  tot_proteins  albumin  \
0   65       0            0.7               0.1           187       16
1   62       1           10.9               5.5           699       64
2   62       1            7.3               4.1           490       60
3   58       1            1.0               0.4           182       14
4   72       1            3.9               2.0           195       27

   ag_ratio  sgpt  sgot  alkphos  is_patient
0        18   6.8   3.3     0.90           1
1       100   7.5   3.2     0.74           1
2        68   7.0   3.3     0.89           1
3        20   6.8   3.4     1.00           1
4        59   7.3   2.4     0.40           1

In [10]:
# TRAINING, STORING AND COMPARING THE MODEL ACCURACY

In [11]:
# Model Helpers
from sklearn import model_selection
from sklearn import metrics
from sklearn import preprocessing

# Model imports
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

In [12]:
X = data.drop(['is_patient'], axis=1)
y = data['is_patient']

scaler = preprocessing.MinMaxScaler()
X = scaler.fit_transform(X)

x_train, x_test, y_train, y_test = model_selection.train_test_split(X, y, test_size = 0.2)

In [13]:
# Logistic Regression Model
logistic_reg_model = LogisticRegression()
logistic_reg_model.fit(x_train, y_train)
acc_logistic_reg = logistic_reg_model.score(x_test, y_test)
print(acc_logistic_reg)

0.8205128205128205

In [14]:
# KNN Classifier
model_knn = KNeighborsClassifier(n_neighbors=5)
model_knn.fit(x_train, y_train)
acc_knn = model_knn.score(x_test, y_test)
print(acc_knn)

0.6581196581196581

In [15]:
# Random Forest Classifier
model_rfc = RandomForestClassifier(n_estimators=50)
model_rfc.fit(x_train, y_train)
acc_rfc = model_rfc.score(x_test, y_test)
print(acc_rfc)

0.7094017094017094

In [16]:
# Support vector classification
model_svc = SVC()
model_svc.fit(x_train, y_train)
acc_svc = model_svc.score(x_test, y_test)
print(acc_svc)

0.7948717948717948

In [17]:
# RESULT

In [18]:
results = pd.DataFrame({'Model': ['Logistic Regression','KNeighborsClassifer', 'Random Forest Classifier','SVC',],
                        'Accuracy': [acc_logistic_reg, acc_knn, acc_rfc, 
                                  acc_svc,],}).sort_values(by = 'Accuracy', ascending = False)
print(results)

                      Model  Accuracy
0       Logistic Regression  0.820513
3                       SVC  0.794872
2  Random Forest Classifier  0.709402
1       KNeighborsClassifer  0.658120

In [19]:
# From the results, we can conclude that Logistic Regression and SVC works best for the given data